{
  "extends": "@significa/significa",
  "rules": {
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/destructuring-assignment": 0
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "es6": true
  }
}
